.card-wrapper {
    position: relative;
    display: block;
    height: 215px;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: Inconsolata, monospace;
    font-weight: 400;
}

.card-back {
    position: absolute;
    top: 0px;
    right: 100px;
    width: 40%;
    height: 216px;
    float: right;
    bottom: 0px;
    border-radius: 10px;
    background: #607d8b;
 
}
.card-front {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 40%;
    height: 216px;
    float: left;
    bottom: 0px;
    z-index: 100;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #607d8b;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #eee;
}
.card-view-strip {
    position: absolute;
    left: 0px;
    top: 5%;
    right: 0px;
    height: 50px;
    background-color: #000;
}
.card-view-signature {
    position: absolute;
    left: 5%;
    top: 35%;
    right: 5%;
}
.card-view-signature-title {
    color: #b0bec5;
    font-size: 14px;
    font-weight: 700;
}
.card-view-signature-strip {
    position: relative;
    overflow: hidden;
    height: 50px;
    border-radius: 2px;
    background-color: #fff;
    background-image: url(https://daks2k3a4ib2z.cloudfront.net/584689a…/5848322…_signature.png);
    background-position: 20px 7px;
    background-size: auto 40px;
    background-repeat: no-repeat;
}
.card-view-csc {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 20%;
    padding: 5px 10px;
    border: 2px solid red;
    border-radius: 0px 2px 2px 0px;
    background-color: #eee;
    font-style: italic;
}
.card-view-bank {
    position: absolute;
    left: 5%;
    top: 6%;
    right: 5%;
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-align: right;
}
.card-view-number {
    position: absolute;
    left: 5%;
    top: 49%;
    right: 5%;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    text-shadow: 0 1px 0 #000, 0 -1px 0 #fff;
}
.card-view-expiry {
    position: absolute;
    left: 40%;
    top: 63%;
    right: 5%;
    height: 40px;
}
.card-view-expiry-subtitle {
    height: 20px;
    color: #b0bec5;
    font-size: 14px;
    font-weight: 700;
}
.card-view-expiry-date {
    height: 20px;
    border-radius: 2px;
    letter-spacing: 4px;
    text-shadow: 0 1px 0 #000, 0 -1px 0 #fff;
}
.card-view-expiry-slash {
    position: absolute;
    left: 20px;
    bottom: 0px;
    text-shadow: 0 1px 0 #000, 0 -1px 0 #fff;
}
.card-view-name {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 6%;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #000, 0 -1px 0 #fff;
}
.card-view-logo {
    position: absolute;
    right: 5%;
    bottom: 6%;
    width: 100px;
    height: 60px;
}
.mastercard-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    background-image: url(/assets/images/mastercard_vrt_pos_92px_2x.png);
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.visa-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    background-image: url(/assets/images/Visa_Inc._logo.svg.png);
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.amex-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    background-image: url(/assets/images/american_express_logo_wordmark_detail.png);
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}