@media (max-width: 640px) {
    .cardWidth {
      width: 80%;
      margin:0 auto;
      text-align: center
    }
  }

  .cardWidth {
    width: 30%;
    margin:0 auto;
    text-align: center
  }


  .cardWidth img{
    width: 40%;
  }